<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xunyou.mapper.HotelEntityMapper">
  <resultMap id="BaseResultMap" type="com.xunyou.model.HotelEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="hotel_no" jdbcType="VARCHAR" property="hotelNo" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="lon" jdbcType="VARCHAR" property="lon" />
    <result column="lat" jdbcType="VARCHAR" property="lat" />
    <result column="open_start_time" jdbcType="TIMESTAMP" property="openStartTime" />
    <result column="open_end_time" jdbcType="TIMESTAMP" property="openEndTime" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="has_room" jdbcType="BIT" property="hasRoom" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="is_del" jdbcType="BIT" property="isDel" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.xunyou.model.HotelEntity">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    id, hotel_no, title, address, lon, lat, open_start_time, open_end_time, tel, has_room, 
    status, is_del, create_date, update_date
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from xy_hotel
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from xy_hotel
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xunyou.model.HotelEntity">
    insert into xy_hotel (id, hotel_no, title, 
      address, lon, lat, 
      open_start_time, open_end_time, tel, 
      has_room, status, is_del, create_date, 
      update_date, content)
    values (#{id,jdbcType=INTEGER}, #{hotelNo,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{lon,jdbcType=VARCHAR}, #{lat,jdbcType=VARCHAR}, 
      #{openStartTime,jdbcType=TIMESTAMP}, #{openEndTime,jdbcType=TIMESTAMP}, #{tel,jdbcType=VARCHAR}, 
      #{hasRoom,jdbcType=BIT}, #{status,jdbcType=BIT}, #{isDel,jdbcType=BIT}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.xunyou.model.HotelEntity">
    insert into xy_hotel
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="hotelNo != null">
        hotel_no,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="lon != null">
        lon,
      </if>
      <if test="lat != null">
        lat,
      </if>
      <if test="openStartTime != null">
        open_start_time,
      </if>
      <if test="openEndTime != null">
        open_end_time,
      </if>
      <if test="tel != null">
        tel,
      </if>
      <if test="hasRoom != null">
        has_room,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="hotelNo != null">
        #{hotelNo,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="lon != null">
        #{lon,jdbcType=VARCHAR},
      </if>
      <if test="lat != null">
        #{lat,jdbcType=VARCHAR},
      </if>
      <if test="openStartTime != null">
        #{openStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="openEndTime != null">
        #{openEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="hasRoom != null">
        #{hasRoom,jdbcType=BIT},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=BIT},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xunyou.model.HotelEntity">
    update xy_hotel
    <set>
      <if test="hotelNo != null">
        hotel_no = #{hotelNo,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="lon != null">
        lon = #{lon,jdbcType=VARCHAR},
      </if>
      <if test="lat != null">
        lat = #{lat,jdbcType=VARCHAR},
      </if>
      <if test="openStartTime != null">
        open_start_time = #{openStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="openEndTime != null">
        open_end_time = #{openEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tel != null">
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="hasRoom != null">
        has_room = #{hasRoom,jdbcType=BIT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=BIT},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=BIT},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.xunyou.model.HotelEntity">
    update xy_hotel
    set hotel_no = #{hotelNo,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      lon = #{lon,jdbcType=VARCHAR},
      lat = #{lat,jdbcType=VARCHAR},
      open_start_time = #{openStartTime,jdbcType=TIMESTAMP},
      open_end_time = #{openEndTime,jdbcType=TIMESTAMP},
      tel = #{tel,jdbcType=VARCHAR},
      has_room = #{hasRoom,jdbcType=BIT},
      status = #{status,jdbcType=BIT},
      is_del = #{isDel,jdbcType=BIT},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xunyou.model.HotelEntity">
    update xy_hotel
    set hotel_no = #{hotelNo,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      lon = #{lon,jdbcType=VARCHAR},
      lat = #{lat,jdbcType=VARCHAR},
      open_start_time = #{openStartTime,jdbcType=TIMESTAMP},
      open_end_time = #{openEndTime,jdbcType=TIMESTAMP},
      tel = #{tel,jdbcType=VARCHAR},
      has_room = #{hasRoom,jdbcType=BIT},
      status = #{status,jdbcType=BIT},
      is_del = #{isDel,jdbcType=BIT},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>